html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Estilo personalidado*/
.fondoTitulo {
    opacity: 0.5;
    background-color: #000;
    background: url('/Imagenes/images (1).jfif');
    padding: 40px 0 40px 0;
}